* {
    margin: 0;
    padding: 0;
}

header {

    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid rebeccapurple;
    border-radius: 5%;
}

.header-ul {
    box-sizing: content-box;
background-color: rgb(12, 14, 13);
display: flex;
line-height: 30px;

}

.header-li {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}